<div class="row">
  <div class="span12 application">

    <%= @service.title %>
    <%= @service.location %>
    <%= distance_of_time_in_words Time.now, @service.updated_at %>

    <div class="image"><div class="back"><%= image_tag @service.image_highlight.url(:medium) %></div></div>
  </div>
</div>