<div class="footer">
	<div class="row">
		<div class="span12 application">
			<div class="shadow span12 application"></div>
			<div class="menu">
				<%= render "shared/menu-itens" %>
			</div>
		</div>
	</div>
	<div class="logo"></div>
	<div class="credits">
		<div class="row">
			<div class="span12 application">
				Rua Arthur Lehnen, 173 Centro Parobé - RS Fone: (51) 3543.3525 Email: contato@bseletrica.com.br
			</div>
		</div>
	</div>
</div>