<div class="header">
	<div class="striped">
		<div class="span12 application">
			<div class="geral">
				<div class="logo"><%= link_to "", home_index_path %></div>
				<div class="phrase"></div>
				<div class="contact">
					<span class="phone">51 3543.3525</span>
					<span class="email">contato@bseletrica.com.br</span>
				</div>
			</div>
			<div class="shadow span12 application"></div>
		</div>
	</div>
	<div class="blue-line"></div>
	<%= render "shared/menu"%>
	<div style="clear: both"></div>
</div>
