<div class="span12 application">
  <%= mainTitle "Clientes" %>
  <div class="clients inside">
      <ul>
        <% @clients.each do |client|%>
          <li>

            <span><%= image_tag client.image.url(:small), :align => "center" %></span>
          </li>
        <% end %>
      </ul>
  </div>
  <div class="clear"></div>
</div>