<div class="our_services mainLines">

  <div class="row">
    <div class="span12 application">

        <div class="title">Nossos Serviços</div>
        <ul>
          <% @our_services.each do |our_service|%>
            <li>
              <%= image_tag(File.join("/", "images", "our_services", "/") + our_service[:image]) %>
              <span><%= our_service[:title] %></span>
            </li>
          <% end %>
        </ul>

    </div>
  </div>

</div>
