<div class="promotions">

  <div class="row">
    <div class="span12 application">

      <script>
        $(function(){
          $('#slides').slides({
            generateNextPrev: true,
            pagination: false,
            generatePagination: false,
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 8000,
            pause: 8000,
            slideSpeed: 800,
            hoverPause: true
          });
        });
      </script>
 
      <div id="slides">
        <ul class="slides_container">
          <% @highlights.each do |promotion|%>
            <li>
              <% teste = 'kshdfkdf'%>
              <% if promotion.class.to_s == 'Promotion' %>
                <%= render :partial => 'home/promotion', :locals => {:promotion => promotion} %>
              <% else %>
                
                <%= render :partial => 'home/service', :locals => {:service => promotion} %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

</div>