<div class="services">
  <div class="gradient"></div>
  <div class="row">
    <div class="span12 application">

        <div class="title mainLines">Obras <span><%= link_to "Veja mais", services_path %></li></span></div>
        <ul>
          <% @services.each do |service|%>
            <li class="noMarginTop">
              <%= link_to service do %>

                <%= image_tag service.image.url(:small) %>
                <div class="desc">
                  <%= service.title %>
                </div>

              <% end %>
            </li>
          <% end %>
        </ul>

    </div>
  </div>

</div>