<div class="services">
  <div class="gradient"></div>
  <div class="row">
    <div class="span12 application">

        <div class="title">Obras <span><%= link_to "Veja mais", "#" %></li></span></div>
        <ul>
          <% @services.each do |service|%>
            <li>

              <%= image_tag service.image %>
              <div class="desc">
                <%= service.title %>
              </div>

            </li>
          <% end %>
        </ul>

    </div>
  </div>

</div>