<div class="suppliers">
  
  <div class="row">
    <div class="span12 application">

        <div class="title">Fornecedores <span><%= link_to "Veja mais", "#" %></li></span></div>
        <ul>
          <% @clients.each do |client|%>
            <li>
              <span><%= image_tag client.image, :align => "center" %></span>
            </li>
          <% end %>
        </ul>

    </div>
  </div>

</div>