<div class="suppliers mainLines">
  
  <div class="row">
    <div class="span12 application">

        <div class="title">Fornecedores <span><%= link_to "Veja mais", suppliers_path %></li></span></div>
        <ul>
          <% @suppliers.each do |supplier|%>
            <li>
              <%= image_tag supplier.image.url(:original), :align => "center" %>
            </li>
          <% end %>
        </ul>

    </div>
  </div>

</div>