<div class="span12 application">
  <ul>
    <% @notices.each do |notice|%>
      <li>
      	<% time = distance_of_time_in_words Time.now, notice.updated_at %>
      	<% title = notice.title + ' -  ' + time %>
      	<%= link_to title, notice%>
      </li>      
    <% end %>
  </ul>
</div>