<div class="row">
  <div class="span12 application">
    <%= mainTitle "Novidades", "Veja todas as novidades", news_path %>
    <h2><%= @notice.title %></h2>
    <br />
    <p style="text-align: justify; font-size: 15px; line-height: 1.5; color: #555">
        <%= @notice.content.gsub(/\n/, "<br/>").html_safe %>
    </p>
  </div>
</div>