<div class="row">
    <div class="span12 application">
		About us

		A BS está no mercado desde 1983, participando da construção de seus projetos.
		Possuimos uma equipe capaz de oferecer a garantia de produtos de qualidade,
		agilidade no atendimento e o melhor de tudo: os melhores preços e condições de pagamento agregados ao seu custo-benefício.
		A segurança de comprar com uma empresa séria e comprometida com a satisfação de seus clientes, torna o nosso relacionamento cada vez mais duradouro.
		Estamos sempre trabalhando para gerar o maior número de benefícios possíveis para você, assim agregando, cada vez mais, valores em nossos serviços
    </div>
</div>
