// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {margin: auto; background: #F6F6F6;}
.application 				{margin: auto; float: none}
.header .striped 			{width: 100%; height: 140px; background: #000 url('strip.png'); position: relative;}
.header .striped .shadow 	{width: 100%; height: 80px; background: url('striped-shadow.png') no-repeat; position: absolute; bottom: 0}
.header .striped .logo 		{width: 155px; height: 100px; float: left; background: url('logo.png') no-repeat;}
.header .striped .phrase 	{width: 361px; height: 12px; float: left; margin: 45px 0 0 100px; background: url('phrase.png') no-repeat;}
.header .striped .contact 	{width: 165px; float: right; margin-top: 28px;}
.header .striped .contact .phone 	{font-family: "Arial Black"; font-size: 20px; color: #29176F;}
.header .striped .contact .email 	{color: #999;}

.header .striped .informations			{margin-top: 20px;}