body 
  margin: auto
  background: #F6F6F6
  font-size: 12px

ul
  list-style: none
  margin: 0
  padding: 0

ul li, h3
  margin: 0
  padding: 0
  list-style: none

.application
  margin: auto
  float: none

.title
  font-family: "Raleway"
  font-size: 20px
  line-height: 15px
  border-bottom: solid 1px $gray
  padding-bottom: $space2
  margin-bottom: $space3

  span a
    font-family: "browau"
    font-size: 15px
    color: $blue
    padding-left: $space1